[Unit]
Description=ONT Reboot Service
ConditionPathExists={{ home }}/ont-reboot/ont-reboot.py
After=network.target

[Service]
ExecStart=python3 {{ home }}/ont-reboot/ont-reboot.py

[Install]
WantedBy=multi-user.target
