# Configuration file for dnsmasq.
# ft=dnsmasq

port=53
listen-address={{ known_dns|network }}
listen-address=127.0.0.1
bind-interfaces

log-dhcp
log-facility=/var/log/dnsmasq.log

conf-file=/usr/share/dnsmasq-base/trust-anchors.conf
dnssec

cache-size=10000

expand-hosts
local=/{{ domain }}/
domain={{ domain }}

dhcp-range={{ dynamic.start|network }},{{ dynamic.end|network }},24h
dhcp-option=option:router,{{ gateway|network }}
dhcp-option=option:domain-name,{{ domain }}
dhcp-option=option:ntp-server,{{ ntp|network|join:"," }}
dhcp-option=tag:known,tag:!safe,option:dns-server,{{ known_dns|network }},{{ dns_servers|join:"," }}
dhcp-option=tag:!known,option:dns-server,{{ safe_dns|network }}
dhcp-authoritative
no-dhcp-interface=wlan0

no-resolv
{% for server in dns_servers %}
server={{ server }}{% endfor %}

auth-server=ns.{{ domain }}
auth-zone={{ domain }},{{ network }}
auth-soa={{ time|stringformat:"d" }},root.{{ domain }}
mx-host={{ domain }},mail.{{ domain }},10
address=/mail.{{ domain }}/{{ mail|network }}
address=/ns.{{ domain }}/{{ ns|network }}

# DHCP{% for host in hosts %}{% if host.ip and host.hardware %}
dhcp-host={{ host.hardware }},{% for tag in host.tags %}set:{{ tag }},{% endfor %}{{ host.ip|network }},24h{% endif %}{% endfor %}
