# Configuration file for dnsmasq.
# ft=dnsmasq

port=53
listen-address={{ known_dns }}
listen-address=127.0.0.1
bind-interfaces

log-dhcp
log-facility=/var/log/dnsmasq.log

conf-file=/usr/share/dnsmasq-base/trust-anchors.conf
dnssec

cache-size=10000

expand-hosts
local=/{{ domain }}/
domain={{ domain }}

# Default
dhcp-range={{ dynamic.start }},{{ dynamic.end }},24h
dhcp-option=option:router,{{ gateway }}
dhcp-option=option:domain-name,{{ domain }}
dhcp-option=option:domain-search,{{ domain }}
dhcp-option=option:ntp-server,{{ ntp|join:"," }}
dhcp-option=tag:safe,option:dns-server,{{ safe_dns }}
dhcp-option=option:dns-server,{{ known_dns }}
{% for vlan in vlans %}
# {{ vlan.name }}: {{ vlan.description }}
dhcp-range=set:{{ vlan.name|lower }},{{ vlan.dynamic_start }},{{ vlan.dynamic_end }},{{ vlan.netmask }},24h
dhcp-option=tag:{{ vlan.name|lower }},option:router,{{ vlan.gateway }}
dhcp-option=tag:{{ vlan.name|lower }},option:dns-server,{% if "safe" in vlan.tags %}{{ safe_dns }}{% else %}{{ known_dns }}{% endif %}
dhcp-option=tag:{{ vlan.name|lower }},option:domain-name,{{ domain }}
dhcp-option=tag:{{ vlan.name|lower }},option:domain-search,{{ domain }}
dhcp-option=tag:{{ vlan.name|lower }},option:ntp-server,{{ ntp|join:"," }}
{% endfor %}
dhcp-authoritative
no-dhcp-interface=wlan0

no-resolv
{% for server in dns_servers %}
server={{ server }}{% endfor %}

auth-server=ns.{{ domain }}
auth-zone={{ domain }},{{ network }}
auth-soa={{ time|stringformat:"d" }},root.{{ domain }}
mx-host={{ domain }},mail.{{ domain }},10
address=/mail.{{ domain }}/{{ mail }}
address=/ns.{{ domain }}/{{ ns }}

# {{ name }}
{% for host in hosts -%}
  {%- if host.ip and host.hardware -%}
dhcp-host={{ host.hardware }},{% for tag in host.tags %}set:{{ tag }},{% endfor %}{{ host.ip }},24h
{% endif %}
{%- endfor %}
{%- for vlan in vlans %}
  {%- if vlan.cfg.hosts %}
# {{ vlan.name }}
{% for host in vlan.cfg.hosts -%}
  {%- if host.ip and host.hardware -%}
dhcp-host={{ host.hardware }},{% for tag in host.tags %}set:{{ tag }},{% endfor %}{{ host.ip }},24h
{% endif %}
{%- endfor %}
  {%- endif %}
{%- endfor %}
