127.0.0.1	localhost

# Hosts{% for host in hosts %}{% if host.ip %}
{{ network_|addr:host.ip }} {{ host.hostname }}{% for alias in host.aliases %} {{ alias }}{% endfor %}{% endif %}{% endfor %}

# Dynamic hosts{% for n in dynamic_ %}
{{ n }} {{ dynamic.format|format:forloop.counter0 }}{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
