$TTL 1W
@                IN SOA        ns.{{ domain }}. root.{{ domain }}. (
                               {{ time|stringformat:"12d" }} ; Serial
                                         3H ; Refresh
                                        15M ; Retry
                                         1W ; Expire
                                         1D ; Negative Cache TTL
                               )
@                IN NS         ns
@                IN MX         10 mail
@                IN A          {{ gateway }}
ns               IN A          {{ ns }}
mail             IN A          {{ mail }}

;
; {{ name }}
;
{% for host in hosts -%}
  {%- if host.ip -%}
{{ host.hostname|stringformat:"-24s" }} IN A          {{ host.ip }}
{% for alias in host.aliases -%}
{{ alias|stringformat:"-24s" }} IN CNAME      {{ host.hostname }}
{% endfor %}
  {%- endif %}
{%- endfor %}

; {{ network.dynamic.format }} ({{ network.dynamic_start }} - {{ network.dynamic_end }})
{% for n in network.dynamic_range -%}
{{ network.dynamic.format|format:forloop.counter0|stringformat:"-24s" }} IN A          {{ n }}
{% endfor %}
{%- for vlan in vlans %}

;
; {{ vlan.name }}
;
{% for host in vlan.cfg.hosts -%}
  {%- if host.ip -%}
{{ host.hostname|stringformat:"-24s" }} IN A          {{ host.ip }}
{% for alias in host.aliases -%}
{{ alias|stringformat:"-24s" }} IN CNAME      {{ host.hostname }}
{% endfor %}
  {%- endif %}
{%- endfor %}

; {{ vlan.dynamic.format }} ({{ vlan.dynamic_start }} - {{ vlan.dynamic_end }})
{% for n in vlan.dynamic_range -%}
{{ vlan.dynamic.format|format:forloop.counter0|stringformat:"-24s" }} IN A          {{ n }}
{% endfor %}
{%- endfor %}
