$TTL 1W
@                IN SOA        ns.{{ domain }}. root.{{ domain }}. (
                               {{ time|stringformat:"12d" }} ; Serial
                                         3H ; Refresh
                                        15M ; Retry
                                         1W ; Expire
                                         1D ; Negative Cache TTL
                               )
@                IN NS         ns
@                IN MX         10 mail
@                IN A          {{ gateway|network }}
ns               IN A          {{ ns|network }}
mail             IN A          {{ mail|network }}
; Hosts{% for host in hosts %}{% if host.ip %}
{{ host.hostname|stringformat:"-24s" }} IN A          {{ host.ip|network }}{% for alias in host.aliases %}
{{ alias|stringformat:"-24s" }} IN CNAME      {{ host.hostname }}{% endfor %}{% endif %}{% endfor %}
; Dynamic hosts{% for n in dynamic_ %}
{{ dynamic.format|format:forloop.counter0|stringformat:"-24s" }} IN A          {{ n }}{% endfor %}
