<html>
<head>
  <title>{{ domain }}</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
<h1>Network <b>{{ domain }}</b></h1>
<table>
<tr>
  <th>hostname</th>
  <th>ip</th>
  <th>hardware</th>
  <th>description</th>
  <th>aliases</th>
</tr>
{% for host in hosts %}{% if host.ip %}{% if not host.tags or "hidden" not in host.tags %}
<tr>
  <td><a href="http://{{ host.hostname }}.{{ domain }}">{{ host.hostname }}</a></td>
  <td><a href="http://{{ host.ip|network }}">{{ host.ip|network }}</a></td>
  <td>{% if host.hardware %}{{ host.hardware }}{% endif %}</td>
  <td>{% if host.description %}{{ host.description }}{% endif %}</td>
  <td>{% for alias in host.aliases %}{% if not forloop.first %}, {% endif %}<a href="http://{{ alias }}.{{ domain }}">{{ alias }}</a>{% endfor %}</td>
</tr>
{% endif %}{% endif %}{% endfor %}
</table>
</body>
</html>
